*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    height: 1200;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    color: black;
    background: #3EBEFE;
}
ul{
    display: flex;
    list-style: none;
    column-gap: 20px;
}
/* capa */
.container{
    width: 100%;
    position: relative;
}
.capa{
    width: 100%;
}
.text{
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: grey;
}
/* container 2 */
.container2{
    margin-top: -5px;
    width: 100%;
}
.cont1{
    display: flex;
    margin-top: -5px;
}
.text1{
    width: 50%;
}
.ovo{
    width: 50%;
}
.ovo1{
    width: 100%;
}
